.hero_container {
    padding: 30px;
    background-color: #d9d9d9; 
    width: 100%; 
    box-sizing: border-box;
}

.hero_container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.hero {
    height: auto;
    width: 99%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* allows wrapping on smaller screens */
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom right, #f0ba68, #e49423);
    border-radius: 15px;
    margin: 20px auto;
    gap: 20px;
}

.hero img {
    max-width: 450px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    flex: 1 1 300px;
}

.heroData {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    padding: 20px;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    padding-left: 50px;
    gap: 10px;
}

.heroData h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.heroData p {
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}

.hero li{
    height: fit-content;
    width: fit-content;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    padding: 7px;
    background-color: black;
    border-radius: 12px;
    margin: 37px 20px;
    box-shadow: 0px 0px 4px black;
}

.hero a{
    height: 30px;
    width: 110px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 550px;
    color: rgba(197, 197, 18, 0.85);
    padding: 4px;
}


/* Responsive Design for smaller screens */
@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .hero img {
        width: 100%;
        height: auto;
        border-radius: 0 0 15px 15px;
    }

    .heroData {
        max-width: 100%;
        padding-left: 20px;
    }
}
