

.profile-container{
    height: 100vh;
    background-color: #8FABD4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}


.profile-heading img{
    height: 100px;
    border: 5px solid gray;
    border-radius: 10px;
    margin-bottom: 5px;
}

.profile-heading h4{
    font-size: medium;
    font-weight: 500;
}

.profile-basic-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 50px 50px;
    background-color: #8FABD4;
}


.basic-info-box{
    min-width: 700px;
    padding: 30px;
    background-color: #4A70A9;
    border-radius: 5px;
    margin-top: 10px;
}


.info-row{
    align-items: center;
    height: 40px;
    background-color: #d0cec9;
    margin-bottom: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px;
    border-radius: 5px;
}


.profile-basic-info img{
    height: 50px;
}

.edit{
    cursor: pointer;
    color: #000000;
}